*{
    /* padding: 0; */
    margin: 20px ;
}

nav img{
    height: 100px ;
    width: 100px;
}
nav {
    display: flex;
    justify-content: space-between;
    height: 100px ;
    /* background-color: aqua; */
    align-items: center;
}
nav ul a{
    text-decoration: none;
   margin: 20px;
    color: gray;
    font-size: 19px;
    position: relative;
}
nav ul a::after{
    content: "";
    position: absolute;
    bottom: -5px ;
    height: 2px ;
    width: 0;
    background-color: red;
    left: 0;
    transition: 0.8s ease;
}
nav ul a:hover::after{
    width: 100%;
}

nav i{
    margin: 5px;
    font-size: 25px;
    color: gray;
}
nav i:hover{
    color: rgb(30, 159, 210);
}

/* ==================FOOTER================= */

.foter{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: rgb(236, 236, 44);
    /* position: absolute; */
    /* position: fixed; */
    bottom: 0;
    width: 97%;
}
.Home img{
    height: 130vh;
    width: 100%;
    /* padding: 20px; */
    left: 0;
    border-radius: 30px;
}

/* =========================== */

.box{
    /* border: 2px solid black; */
    width: fit-content;
    text-align: center;
    margin-bottom: 90px;
    box-shadow: 10px 20px 40px gray;
    border-radius: 20px;
    padding: 20px;
}
.box img{
    height: 300px;
    width: 300px;
    border-radius: 20px;
}

/* ================================ */

.About{
    display: flex;
}
.About .imgbox img{
    width: 100%;
    height: 100%;
}
.About .Content{
    text-align: center;
    margin-top: 7%;

    h3{
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 28px;
        color: rgb(59, 59, 59);
    }

    p{
        text-align: justify;
        letter-spacing: 2px;
        color: gray;
        line-height: 30px;
    }
}
/* ==================================== */

 .tableimg{
    height: 200px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /* flex-wrap: wrap; */
}
.databox{
    box-shadow: 10px 20px 30px gray;
    width: fit-content;
    padding: 17px;
    color: gray;
    text-align: center;
    border-radius: 20px;
    transition: 0.7s ease;
}
.databox:hover{
    background-color: rgb(194, 194, 194);
    color: rgb(32, 32, 32);
}
.databox h3 a{
    text-decoration: none;
    /* border: 1px solid ; */
    padding: 10px;
    border-radius: 20px;
    margin-top: 20px;
    color: rgb(2, 54, 27);
}
.databox h3 a:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(89, 89, 90);
}
/*table,thead,tbody,td,tr,th{
    border: 2px solid black;
    border-collapse: collapse;
    padding: 20px;
    text-align: center;
    color: gray;
    font-size: 20px;
} */
 
